doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul#nav
      li
       a(href="/") Home
      li
       a(href="/ourServices") Our Services
      li
       a(href="/contactUs") Contact Us
    BR
    h1#ww.pp="Tedalel maa service aajab"
    .block 
    p#para.para="We are here to design and develop your websites,"
    p#para.para="your mobile apps and even your school projects. "